/*DOCUMENT*/



body {
	background-color: white;
	padding: 0px;
	margin: 0px;
}

p {
    font-family: 'Source Sans Pro';
}

.headerdoc{
    height: 5%;
}

#content{
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    height: 60%;
    border: 2%
}

.folder{
    background-color: rgb(180,0,0);

    height: 30%;
    margin-left: 3%;
    margin-top: 3%;
    text-align:center;
    float:left;
    color: white;
}

.foldertext{
    margin-top:45%;
}

