body {
    margin: 0;
    padding: 0;
    height: 2000px;
    background-color: green;
}

#top {
    position: absolute;
    width: 100%;
    background-color:  green;
    height: 100px;
    float: left;
}

#under {
    position: absolute;
    float: left;
    background-color:  red;
    width: 10%;
    height: 100px;
}

#container {
    margin-top: 50%;
    width: 10%;
}
