body {
    height: 100vh;
}

#top {
    display: flex;
    height: 50vh;
    background-color: var(--color-accent);
    vertical-align: text-bottom;
    color: white;
}

#top p {
    align-self: flex-end;
    text-align: center;
    width: 100vw;
    font-size: 500%;
    padding-right: 30%;
}



.largest{
	text-align: center;
	font-size: 500%;
	color: rgb(150,0,0);
}

.larger{
	text-align: right;
	margin-right: 25%;
	font-size: 250%;
	color: rgb(75,0,0);
}

.titel
{
    margin-left: 10%;
}

p {
	margin: 0pt;
}

.divtemp{
	margin-top: 10%;
	padding: 10pt;
}

.copyyright{
	vertical-align: bottom;
}

.middleofpage{
	vertical-align: middle;
	text-align: middle;
}
.red {
    margin: 0;
    background-color: rgb(150,0,0);
	color: white;
    font-size: 500%;
    height: 33%;
    position: relative;
}



.goBack svg {
    transform : rotate(0.5turn);
    height    : 1em;
    margin-right: 5px;
}
    
.goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    margin-right: 40%;
    
    font-size: 50px;
}

.goBackText {
    color: rgb(150,0,0);
    text-decoration: none;
    float: right;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: rgb(150,0,0);
}
