body {
	background-color: #D1D1D1;
	padding: 0px;
	margin: 0px;
}

h1{
	color: 	rgb(75,0,0);
	font-size: 267%;
	font-family: Georgia;
	margin-top: 3%
}

p {
	margin: 0pt;
	font-family: Georgia
}

a{
    text-decoration:none;
    color: inherit;
}

.header{
	background-color: rgb(180,0,0);
    height: 5%;
	width: 100%;
/*	position: fixed;*/
	top: 0px;
	overflow: auto;
    box-shadow: 0px 1px 1px #191919;
}

.headertekst{
	color: white;
	font-family: 'Cabin';
	margin-left: 16%;
	margin-right: 5%;
	float: left;
    border-top: 0px;
    padding-bottom: 0px;
}

.headerbutton{
	float:left;
	margin-left: 2%;
	overflow: hidden;
	height: 100%;
    background-color: rgb(160,0,0)
}

.headerbutton:hover{
	background-color: rgb(140, 0, 0);
}

.headerbuttontext{
	color: white;
	font-family: 'Homenaje';
	font-size: 150%;
	padding-top: 6%;
    padding-bottom: 6%;
	padding-left: 10pt;
    padding-right: 10pt;
	float: left;

}

