body{
	font-family: tahoma;
	height: 100%;
	outline: 0;
	margin: 0;
	font-size: 8pt;
	background-image: url(background.png);
}

dt{
	font-weight: bold;
	padding-left: 5px;
}

.annoying{
	margin: 0px;
}

h1{
	font-family: verdana;
	text-align: center;
	font-size: 24pt;
}

.banner{
	margin-left: auto;
	margin-right: auto;
	background-image: url(bannerbackground.png);
	display: block;
	overflow: hidden;
}

.imgmiddle{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.content{
	width: 800px;
	border: 4px gray solid;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
}

.reviews{
	width: 550px;
	overflow: auto;
	float: left;
	margin:0px;
	overflow:hidden;
}

.redbig{
	font-size: 48pt;
	font-weight: bold;
	color: red;
}

.white{
	color: white;
}

.float{
	float: left;
}

.bannercontent{
		background-image: url(rottenbackground.png);
		height: 83px;
		margin: 0;
		padding: 0;
}

.info{
	width: 250px;
	float: right;
	overflow: auto;
	background-color: #A2B964;
	height: auto;
}

.number{
	background-color: #A2B964;
	text-align: center;
	width: 800px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.poster{
	background-image: url();
	background-size: 250px 500px;
}

.reviewl{
	overflow: hidden;
	float: left;
	width: 265px;
	margin: 5px;
	margin-bottom: 3em;
}

.reviewr{
	overflow: hidden;
	float: right;
	width: 265px;
	margin: 5px;
	margin-bottom: 3em;
}

.opinion {
	overflow: hidden;
	padding: 5px;
	font-weight: bold;
	overflow: auto;
	border: 2px gray solid;
}

.author {
	overflow: hidden;
}

.imgop {
	float: left;
	overflow: auto;
	padding-right: 2px;
}

.it {
	font-style: italic;
}

.val{
	position: fixed;
	float: right;
	bottom: 2px;
	right: 0;
}

.val2{
	position: fixed;
	float: right;
	right: 100px;
	bottom: 2px
}