@charset "utf-8";
/* 
 * All dimensions can be assumed to be absolute, for example: widht: 1000px;
 * Created by:
 * Bas van Sambeek
 * Bob de Vos
 * Date:
 * January 2012
 */

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	background: #eee;
}

#container{
	/*container div containing all other divs*/
	width: 1000px;
	margin: 0 auto 0 auto;
	background: #fff;
}

#header{
	height:100px;
	background: purple;
	background-image: url(h.png);
	background-repeat: no-repeat;
/*TODO: CSS Code for styling the main header of the site*/
}

#divheader{
	/*div for the title header of the sales div*/
	background: #dd00ff;
	padding: 5px;
	color: #fff;
	text-align: right;
}

#left {
	width: 540px;
	float: left;
	/*div with the 2 lists and sales of the day*/
}

#klanten {
	width: 270px;
	height: 250px;
	float: left;
	overflow: auto;
}

#artikelen {
	width: 270px;
	height: 250px;
	float: left;
	overflow: auto;	
}

li:hover{
	background: #f8cdff; 
}

li {
	list-style: none;
}

::selection
{
color:#f8cdff;
}
::-moz-selection
{
color:#f8cdff;
}

.column{
	/*Column class for the two columns/lists*/
/*TODO*/
}

.column ul{
/*TODO: Style for the lists itself. Make sure no bullet points are shown.*/ 
}

.column li{	
	padding-left: 10px;
	padding-right: 10px;
}

/*TODO: Add CSS code (including the CSS selector!) for when an item is selected*/

#verkopen{
	clear: both;
	/*TODO: CSS code for the 'verkopen' div*/
}

#verkopen ul{
	width: 237px;
	border: solid white 2px;
	height: 200px;
	overflow: auto;
/*TODO: CSS code for the list in 'verkopen'div*/
}

#right{
	/*container div at the right side*/
	float: right;
	width:450px;
	margin-top:15px;
}

#footer{
	/*Footer for the credits*/
	clear: both;
	padding: 5px 10px 5px 10px;
	background: purple;
	color: #fff;
	text-align: right;	
}

label {
	/*Label width is fixed such that all fields are aligned nicely*/
	width: 100px;
	float: left;
}

legend{
	/*Making the titles of the fieldsets bold*/
	font-weight: bold;
}

#search{
	background: #fff;
	padding-left: 5px;
	height: 85px;
}

#search fieldset[type="klant"]{
	float: right;
	height: 85px;
	width: 470px;
	/*Put the two search boxes next to each other*/

}

#search fieldset[type="art"]{
	width: 470px;
	height: 85px;
	float: left;
	overflow: hidden;	
	/*Put the two search boxes next to each other*/

}
