@import url('https://rsms.me/inter/inter-ui.css');

@media (max-height: 800px) {
    :root {
        --h1-size: 40pt;
        --h2-size: 20pt;
        --h3-size: 17pt;
        --input-size: 17pt;
    }

}

body {
    --background: rgba(253, 251, 251, 1);
    --primary: #B40000;
    --primary-light: #DC0E0E;
    --primary-dark: #660000;
    --secondary: rgb(199, 199, 199);
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --title-font: 'Inter UI', sans-serif
}

div {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--title-font);
    color: var(--primary);
    font-size: var(--h1-size, 80pt);
    margin: 0px;
    text-align: center;
}

h2 {
    font-family: var(--title-font);    
    font-size: var(--h2-size, 40pt);
}

h3 {
    font-size: var(--h3-size, 20pt);
}

input {
    border: none;
    font-size: var(--input-size, 30pt);
    font-family: "Inter UI";
    text-align: center;
    background: transparent;
}

button {
    background-color: white;
    border: none;
    padding: 12px;
    margin-left: 10px;
    font-size: 15pt;
    font-weight: bold;
}

.hide {
    display: none !important;
}

body {
    background-color: var(--background);
    margin: 0;
    text-align: center;

}

#wrapper {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
    height: 100vh;
}

#content {
    padding: 10px;
}

#email-check {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
