
body {
    margin: 0;
    font-family: "Helvetica";
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(bestanden/HelveticaNeue.otf) format("truetype");
}

@font-face {
    font-family: "HelveticaNeue-Light";
    src: url(bestanden/HelveticaNeue-Light.otf) format("truetype");
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url(bestanden/HelveticaNeue-Bold.otf) format("truetype");
}

.title {
    margin-top: 5%;
    background-color: black;
    font-family: "HelveticaNeue-Light","HelveticaNeue","Helvetica";
    font-weight: 550;
    font-size: 200%;
    text-align: center;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.content {
    background-color: #22B5FF;
}



.download {
    background-color: white;
    padding: 2%;
    padding-right: 15%;
    font-family: "HelveticaNeue-Bold";
    font-size: 150%;
    text-align: right;
}

.cTitel {
    font-size: x-large;
    color: white;
    font-family: "HelveticaNeue";
    padding-top: 2%;
    padding-left: 5%;
}

.cText {
    margin-top: 1%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: "Helvetica";
}

#screenshots {
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #404040;
    height: 60%;
    white-space: nowrap;
    overflow-x: auto;
}

#screenshots li {
  display: inline;
    
}

.sShot {
    height: 400pt;
    margin-left: 2%;
    display: inline;
}


#features {
    padding-left: 6%;
    font-family: "Helvetica";
    list-style-type: none;
}

li {
    
}





.bottom {
    margin-top: 5%;
    background-color: black;
    overflow: auto;
    padding: 2%;
}

#bottom li {
    display: inline;
    margin-right: 2%;
}
.bottomItem {
    color: white;
/*    float: left;*/
    font-family: "HelveticaNeue";
    font-size: xx-large;
    margin-right: 8%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#bot1 {
    right: 25%;
}

.dash {
    float: left;
    color: white;
     margin-left: 4%;
    margin-right: 4%;
    font-size: 2em;
}
