/*DOCUMENT*/

@font-face {
    font-family: Raleway;
    src: url("Roboto-Bold.ttf");
}

@font-face {
    font-family: Raleway-Light;
    src: url("Raleway-Light.ttf");
}

@font-face {
  font-family: 'SSB';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff) format('woff');
}

body {
	background-color: #D1D1D1;
	padding: 0px;
	margin: 0px;
}

table{
    margin: 0;
    padding: 0;
    border: 0;
    border-image-width: 0;
    border-collapse:collapse;
}

td {
    padding: 0;
}


.header{
    margin-top: 0%;	
}

.titel{
/*
    margin-top: 15%;
    background-color: black;
    padding: 1%;
*/
    padding-top: 20%;
    padding-bottom: 16%;
}

.titeltekst{
    font-size: 600%;
    color: #1f1f1f;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 800;
}

.titelHoofd {
    font-size: 130%;
}

.ondertitel{
    font-size: 15pt;
	font-family: Cardo;
    text-align: center;
    padding-top: 1%;
    margin-left: 23%;
    color: #5f5f5f;
}


.content{
	height: 1600pt;
}


.contentB{
/*    From this point*/
    margin-top: 0%;
    border-collapse: collapse;
    overflow: hidden;
    vertical-align: top;
}

.block2 {
    background-color: white;
    color: black;
    text-align: right;
    margin-bottom: 10%;
    width: 100%;
    height: 400px;
}

.block2T {
    margin-top: 10%;
}

.block1T {
    vertical-align: top;

}

.block1 {
    background-color:rgb(180,0,0);
    color: white;
    height: 400px;
}

.block3 {
    text-align: center;
}


.content11{
	
    height: 100%;
	
    width: 30%;
	
    float:left;
	
    background-image: url(wiebenikimg.jpg);
	
    background-position: -190px -200px;
	
    background-size: 600pt,360pt;
	

}



.content12{
	
    height: 100%;
    float: left;
}



#content2{
	
    height:450pt;
	padding: 20pt;
    //background-color: #D1D1D1;
    background-color: rgb(69,155,168);


}

#content3title{
    height: 100pt;
    background-color: rgb(69,155,168);
}

#content3{
    height: 400pt;   
}



#picture-Delft{
    background-image: url(TuDelftLogo.png);
    background-size: 10pt,10pt;
    float: right;
}



.copyr{
	width: 100%;
    margin-top: 15%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
    text-align: center;
}


.copyrtext{
    font-family: 'Source Sans Pro';
	text-align: center;
	padding-top: 1%;
}







.contentTitle {
	
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 50pt;
    margin-top: 5%;
/*    vertical-align: top;*/
}

#content2title {
    font-family: Source Sans Pro;
    font-weight: 500;
    font-size: 300%;
    margin-left: 2%;
    color: rgb(19,105,118);
    height: 100pt;    
}

.project {
    margin-top: 3%;
    height: 35%;
    width: 100%;
    background-color: #C4C4C4;
}

.project:hover {
    background-color: rgb(157, 157, 157);
}

.projectTitle {
    width: 33%;
    text-align: right;
	font-family: 'Cabin';
    font-size: 750%;
    color: #5f5f5f;
}

.projectTitleim {
    vertical-align: middle;
    height: 150px;
}

.projectSubtitle {
/*
    color: white;
    width: 100%;
    text-align: center;
	font-family: 'Cabin';
    font-size: 200%;
	float: left;
    line-height: 200%;
    margin-bottom: 0;
*/
    font-size: 200%;
    margin-left: 10%;
    color: #5f5f5f;
    font-family: 'SSB';
}

.projectLinkimg {
    height: 10pt;
}

.projectlogo {
    
}

.image {
    height: 400px;
    position: absolute;
}




.projectDescription {
    margin-left: 10%;
    color: white;
    font-weight: 600;
    font-family: 'Source Sans Pro';
}



.contentText {
    font-family: 'Source Sans Pro';
    font-weight: 500;
    margin-top: 2%;
}
.noThing {
    margin: 0;
    padding: 0;
    border-image-width: 0;
    border-collapse:collapse;
    border-spacing: 0;
    border: none;
}

.cTl {
    padding-right: 5%;
}





.cTL {
    margin-left: 5%;
}

.WhoAmI {
    width:100%;
}

.cTr {
        margin-left: 5%;
}

.contentBText {
    position: absolute; 
    vertical-align: top;
    height: 400px;
    
}

#tdimg1 {
}

.fr {
/*    float: right;*/
    right:0;
}

.blok2Txt {
    right: 0;
    float: right;
}
